---
import Badge from "./Badge.astro";
import { Icon } from "astro-icon/components";

const isBrowser = typeof window !== "undefined";

interface Props {
    name: string;
    role: "contributor" | "maintainer";
    url: string;
    description?: string;
    languages: string[];
    icon: "github" | "bootstrap" | "heroku" | string;
}

const colors = {
    maintainer: "lightPink",
    contributor: "lightYellow",
};

const { name, role, url, description, languages, icon } = Astro.props;

isBrowser && console.log(localStorage.getItem("theme"));
---

<li class="dark:bg-zinc-800 bg-gray-50 dark:text-zinc-400 text-gray-800 gap-1 p-6 border border-zinc-700/60 rounded-lg flex flex-col overflow-hidden">
    <div class="flex justify-between">
        <div class="flex flex-col sm:flex-row sm:items-baseline gap-2">
            <h3 class="text-lg font-medium dark:text-white w-s">{name}</h3> 
            <Badge text={role} color={colors[role]} />
        </div>
        
    </div>
    {description && (
        <p class="leading-relaxed text-black dark:text-zinc-400">
            {description}
        </p>
    )}
    <ul class="flex flex-wrap gap-2 mt-2">
        {languages.map((item) => (
            <li class="dark:bg-zinc-700 bg-cyan-300 dark:text-zinc-400 text-cyan-900 rounded-md px-2 py-1 text-sm">
                {item}
            </li>
        ))}
        <a href={url} target="_blank" rel="noopener noreferrer" aria-label={`Open ${name} repository in a new tab`}>
            <Icon name={icon} class="w-6 fill-current hover:text-zinc-300 hover:scale-110 transition-all" />
        </a>
    </ul>
</li>
